<div *ngIf="region.length===0; else table" class="alert alert-warning text-center">
    No hay regiones que mostrar
</div>

<ng-template #table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Bandera</th>
                <th>País</th>
                <th>Region</th>
                <th>Población</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let region of region; let i=index">
                <td >{{i+1}}</td>
                <td>
                    <img [src]="region.flags.svg" alt="region.name.common">
                </td>
                <td>{{region.name.common}}</td>
                <td>{{region.region}}</td>
                <td>{{region.population | number}}</td>
                <td>
                    <a href="#">Ver más</a>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
